


<div class="cart-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-page-inner">
          <div class="table-responsive">
              <div class="center" *ngIf="cartItems.length == 0">
                <img src="" alt="">
                <h4>Your Cart is Empty.</h4>
                <h6>Add item to it now</h6>
                <button class="btn btn-primary">Shop now</button>
              </div>
            <div class="center" *ngIf="cartItems.length > 0">
              <table class="table table-bordered">
                <tbody class="align-middle"*ngFor="let item of cartItems">
                <tr>
                      <td>
                        <div class="img">
                          <img  alt="Image" src="{{item.product.img}}">
                          <p>{{ item.product.productname}}</p>
                        </div>
                      </td>
                      <td>{{item.product.price|currency:'VND'}}</td>
                      <td>
                        <div class="qty">
                          <button class="btn-minus" (click)="clickMinus(item.id)"><i class="fa fa-minus"></i></button>
                          <input type="text" value="{{item.qty}}">
                          <button class="btn-plus" (click)="clickPluss(item.id)"><i class="fa fa-plus"></i></button>
                        </div>
                      </td>
                      <td>{{item.product.price*(item.qty) |currency:'VND'}} </td>
                      <td><button (click)="deleteCartItem(item.id)"><i class="fa fa-trash" ></i></button></td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart-page-inner">
          <div class="row">
            <div class="col-md-12">
              <div class="coupon">
                <input type="text" placeholder="Coupon Code">
                <button>Apply Code</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="cart-summary">
                <div class="cart-content">
                  <h1>Cart Summary</h1>
<!--                  <p>Sub Total<span>{{cartTotal|currency:'VND'}}</span></p>-->
<!--                  <p>Shipping Cost<span>{{feeshippcost|currency:'VND'}}</span></p>-->
<!--                  <h2>Grand Total<span>{{cartTotal+feeshippcost|currency:'VND'}}</span></h2>-->
                </div>
                <div class="cart-btn">
                  <button >Update Cart</button>
                  <button>Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->

