<div class="cart-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-page-inner">
          <div class="table-responsive">
            <div class="center" *ngIf="cartItems.length == 0" style="text-align: center">
              <img src="" alt="">
              <h4>Không có gì trong giỏ hàng</h4>
              <h6>Tìm kiếm và thêm sản phân ngay bây giờ</h6>
              <a routerLink="/products" routerLinkActive="active">
                <button class="btn btn-primary">Shop Now</button>
              </a>
            </div>
            <div class="center" *ngIf="cartItems.length > 0">
              <table class="table table-bordered">
                <tbody class="align-middle" *ngFor="let item of cartItems">
                <tr>
                  <td>
                    <div class="img">
                      <img alt="Image" src="{{item.product.img}}">
                      <p>{{ item.product.productname}}</p>
                    </div>
                  </td>
                  <td>{{item.product.price|currency:'VND'}}</td>
                  <td>
                    <div class="qty">
                      <button class="btn-minus" (click)="clickMinus(item.product.id)"><i class="fa fa-minus"></i></button>
                      <input type="text" value="{{item.qty}}">
                      <button class="btn-plus" (click)="clickPluss(item.product.id)"><i class="fa fa-plus"></i></button>
                    </div>
                  </td>
                  <td>{{item.product.price * (item.qty) |currency:'VND'}} </td>
                  <td>
                    <button (click)="deleteCartItem(item.product.id)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart-page-inner">
          <div class="row">
            <div class="col-md-12">
              <div class="coupon">
                <input type="text" placeholder="Coupon Code">
                <button>Apply Code</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="cart-summary">
                <div class="cart-content">
                  <h1>Cart Summary</h1>
                  <p>Tổng<span>{{getPrice()|currency:'VND'}}</span></p>
                  <p>Phí vận chuyển<span>{{shipCost()|currency:'VND'}}</span></p>
                  <h2>Tổng tiền<span>{{getPrice() + shipCost()|currency:'VND'}}</span></h2>
                </div>
                <div class="cart-btn">
                  <button>Update Cart</button>
                  <button type="button" *ngIf="cartItems.length!=0" data-toggle="modal" data-target="#poppupCheckOut">
                    Thanh toán
                  </button>
                  <button type="button" *ngIf="cartItems.length==0">
                    Thanh toán
                  </button>

                  <!--popup thanh toan-->
                  <div class="modal fade bd-example-modal-lg" id="poppupCheckOut" tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Thông tin đơn hàng </h5>
                          <button type="button" data-dismiss="modal" aria-label="Close"
                                  style="width: 30px;height: 30px;text-align: center">X
                          </button>
                        </div>
                        <div class="modal-body" style="height:450px; width: 100%;overflow: scroll ">
                          <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                              <th scope="col">Sản phẩm</th>
                              <th scope="col">Số lượng</th>
                              <th scope="col">Giá</th>
                              <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let it of cartItems">
                            <tr>
                              <td>
                                <div class="img">
                                  <img src="{{it.product.img}}" alt="Image">
                                  <p>{{it.product.productname}}</p>
                                </div>
                              </td>
                              <td>
                                <div class="qtys">
                                  <button class="btn-minus" (click)="clickMinus(it.product.id)" style="margin: 0"><i class="fa fa-minus"></i>
                                  </button>
                                  <input type="text" value="{{it.qty}}">
                                  <button class="btn-plus" (click)="clickPluss(it.product.id)"><i class="fa fa-plus"></i>
                                  </button>
                                </div>
                              </td>
                              <td>{{it.product.pricesale * it.qty|currency:'VND'}}</td>
                              <td class="order">
                                <button (click)="deleteCartItem(it.id)"><i class="fa fa-trash"></i></button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <br>
                          <br>
                          <div class="cart-content">

                            <p>Tổng<span>{{getPrice()|currency:'VND'}}</span></p>
                            <p>Phí vận chuyển<span>{{shipCost()|currency:'VND'}}</span></p>
                            <h2>Tổng tiền<span>{{getPrice() + shipCost()|currency:'VND'}}</span></h2>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="col-md-3" data-dismiss="modal">Quay lại</button>
                          <button type="button" class="col-md-3" data-dismiss="modal" (click)="getAddress()"
                                  data-toggle="modal" data-target="#poppupAddress">Tiếp tục
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end-->

                  <div class="modal fade bd-example-modal-lg" id="poppupAddress" tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Xác nhận địa chỉ </h5>
                          <button type="button" data-dismiss="modal" aria-label="Close"
                                  style="width: 30px;height: 30px;text-align: center">X
                          </button>
                        </div>
                        <p data-toggle="modal"
                           data-target="#poppupAdd1" class="add-new"> Thêm địa chỉ mới</p>
                        <div class="modal-body" style="height:450px; width: 100% ;overflow-y: scroll">
                          <div class="row">
                            <div class="col-md-12 address" *ngFor="let address of shippingAddress" style="display: flex;" >
                             <input type="radio" class="option-input radio" [value]="address.id" style="width: 5%;float: left;margin-bottom: 1%;" [(ngModel)]="model.address1">
                              <div class="nn" style="float: left;width:75%">
                                <p>Người nhận: <span>{{address.name}}</span></p>
                                  <p>Số điện thoại: <span>{{address.phonenumber}}</span></p>
                                  <p> Địa chỉ: <span>{{address.wards + ', ' + address.districts + ', ' + address.province}}</span></p>
                                  <p> Địa chỉ cụ thể:<span> {{' ' + address.addressDetails}}</span></p>
                              </div>
                              <div style="float: right;width:20%;text-align: center">
                                <button type="button" style=";margin-bottom: 40%;width:50%;height: auto" class="btn" data-toggle="modal"
                                        data-target="#poppupAdd3"  (click)="taget=address.id">
                                  Sửa
                                </button>
                              </div>
                            </div>

                            <div class="col-md-6" *ngIf="address_check1==false">
                              <h5>Địa chỉ giao hàng</h5>
                              <p>Nhấn "Thêm" để thêm địa chỉ giao hàng</p>
                              <!-- Button trigger modal -->
                            </div>
                          </div>

                          <br>
                          <p style="color: red">* Lưu ý kiểm tra địa chỉ giao hàng và thông tin
                            người gửi trước khi thanh toán. </p>
                          <p style="color: #359bfa">* Nếu các thông tin đều chính xác thì nhấn nút "Đặt hàng" để đặt
                            hàng </p>

                        </div>

                        <div class="modal-footer">
                          <button type="button" class="col-md-3" data-toggle="modal" data-target="#poppupCheckOut"
                                  data-dismiss="modal">Quay lại
                          </button>
                          <button type="button" class="col-md-3" *ngIf="checkaddress()==false">Đặt hàng
                          </button>
                          <button type="button" class="col-md-3" data-dismiss="modal" data-toggle="modal"
                                  data-target="#popupOrderSucessfull" (click)="addNewOrder(model.address1)" *ngIf="checkaddress()==true">Đặt hàng
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="poppupAdd3" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cập nhật địa chỉ giao hàng </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:450px; overflow-y: scroll ">

        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <label>Người nhận*</label>
              <input class="form-control" type="tel" placeholder="Người nhận"
                     [(ngModel)]="model.name">
            </div>
            <div class="col-md-6">
              <label>Số điện thoai*</label>
              <input class="form-control" type="tel" placeholder="Số điện thoai"
                     [(ngModel)]="model.phoneup">
            </div>


            <div class="col-md-4">
              <label>Tỉnh/Thành phố*</label>
              <select class="form-control" [(ngModel)]="model.province"
                      (change)="loadDistricts(model.province)">
                <option *ngFor="let item of province" [value]="item.code">{{item.name}}</option>
              </select>
            </div>


            <div class="col-md-4">
              <label>Quận/Huyện*</label>
              <select class="form-control" [(ngModel)]="model.district_code"
                      (change)="loadWards(model.district_code)">
                <option *ngFor="let item of listdistricts" [value]="item.code">{{item.name}}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label>Xã/Phường</label>
              <select class="form-control" [(ngModel)]="model.wards">
                <option *ngFor="let item of listWards" [value]="item.code">{{item.name}}</option>
              </select>

            </div>

            <div class="col-md-12">
              <label>Địa chỉ cụ thể*</label>
              <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể"
                     [(ngModel)]="address.addressDetails">
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateAddress(taget)">
            Lưu thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<!--add1-->
<div class="modal fade bd-example-modal-lg" id="poppupAdd1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm địa chỉ giao hàng </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:450px; overflow-y: scroll ">

        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <label>Người nhận*</label>
              <input class="form-control" type="tel" placeholder="Tên người nhận"
                     [(ngModel)]="model.name">
            </div>
            <div class="col-md-6">
              <label>Số điện thoai*</label>
              <input class="form-control" type="tel" placeholder="Số điện thoai"
                     [(ngModel)]="model.phoneup">
            </div>


            <div class="col-md-4">
              <label>Tỉnh/Thành phố*</label>
              <select class="form-control" [(ngModel)]="model.province"
                      (change)="loadDistricts(model.province)">
                <option *ngFor="let item of province" [value]="item.code">{{item.name}}</option>
              </select>
            </div>


            <div class="col-md-4">
              <label>Quận/Huyện*</label>
              <select class="form-control" [(ngModel)]="model.district_code"
                      (change)="loadWards(model.district_code)">
                <option *ngFor="let item of listdistricts" [value]="item.code">{{item.name}}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label>Xã/Phường</label>
              <select class="form-control" [(ngModel)]="model.wards">
                <option *ngFor="let item of listWards" [value]="item.code">{{item.name}}</option>
              </select>

            </div>

            <div class="col-md-12">
              <label>Địa chỉ cụ thể*</label>
              <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể"
                     [(ngModel)]="address.addressDetails">
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addNewAddress()">
            Thêm địa chỉ
          </button>
        </div>
      </div>
    </div>
  </div>

</div>



<!--order successfull-->
<div class="modal fade bd-example-modal-lg" id="popupOrderSucessfull" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title">Đặt hàng thành công </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:450px;width: 100%; margin: 0 auto ;background-color: rgba(120,234,234,0.52);display: block ">
        <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="a" height="120"
             style="display: block;margin: 0 auto; border: 0px;"/>
        <h2>Cảm ơn bạn đã đặt hàng</h2>
        <h2>Mã đơn hàng {{' #' + code}}</h2>

        <div class="cart-content">
          <h5>Tổng: <span>{{getPrice()|currency:'VND'}}</span></h5>
          <h5>Phí vận chuyển: <span>{{shipCost()|currency:'VND'}}</span></h5>
          <h5>Tổng tiền: <span>{{getPrice() + shipCost()|currency:'VND'}}</span></h5>
          <h5>Địa chỉ giao hàng: {{addressSuccess}}
          </h5>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="width: 30%;border-color: #201600;margin: auto;margin-top: 10px;margin-bottom: 10px"
                data-dismiss="modal">Đóng
        </button>
      </div>
    </div>
  </div>

</div>


<!-- Cart End -->

