<body>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
      <li class="breadcrumb-item active">Liên hệ</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info">
          <h2>Trụ sở chính</h2>
          <h3><i class="fa fa-map-marker"></i>123 Office, Los Angeles, CA, USA</h3>
          <h3><i class="fa fa-envelope"></i>office@example.com</h3>
          <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
          <div class="social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info">
          <h2>Chi nhánh</h2>
          <h3><i class="fa fa-map-marker"></i>123 Store, Los Angeles, CA, USA</h3>
          <h3><i class="fa fa-envelope"></i>store@example.com</h3>
          <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
          <div class="social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-form">
          <form>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Tên của bạn" />
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Email" />
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Chủ đề" />
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="5" placeholder="Thông tin muốn gửi"></textarea>
            </div>
            <div><button class="btn" type="submit">Gửi tin</button></div>
          </form>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="contact-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d8124.463020339295!2d106.79300725408227!3d10.872821767240543!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1629791519624!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
</body>
