<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
      <li class="breadcrumb-item active">Sản phẩm</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- Product List Start -->
<div class="product-view">
  <div class="container-fluid">
    <div class="row" >
      <div class="col-lg-11" style="margin: auto;">
        <div class="row">
          <div class="col-md-12">
            <div class="product-view-top">
              <div class="row">
                <div class="col-md-3">
                  <div class="product-search">
                    <input type="email" value="Search" [(ngModel)]="searchedKeyword" placeholder="Nhập tên sản phẩm muốn tìm">
                    <button><i class="fa fa-search"></i></button>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="product-short">
                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown" *ngIf="categoryfill==''">Loại sản phẩm : tất cả</div>
                      <div class="dropdown-toggle" data-toggle="dropdown" *ngIf="categoryfill!=''">Loại sản phẩm : Nón {{categoryfill}}</div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="categoryfill = ''"><i class="fas fa-angle-double-right"></i>Tất cả</a>
                        <a class="dropdown-item" (click)="categoryfill = '1/2'"><i class="fa fa-angle-double-right"></i>Nón 1/2</a>
                        <a class="dropdown-item" (click)="categoryfill = '3/4'"><i class="fa fa-angle-double-right"></i>Nón 3/4</a>
                        <a class="dropdown-item" (click)="categoryfill = 'FullFace'"><i class="fa fa-angle-double-right"></i>Nón FullFace</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="product-short">
                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown">Sắp xếp</div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="sortByPriceG()">Giá tăng dần <i class="fa fa-arrow-circle-up"></i></a>
                        <a class="dropdown-item" (click)="sortByPriceT()">Giá giảm dần <i class="fa fa-arrow-circle-down"></i></a>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="product-price-range">
                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown">Lọc theo khoản giá</div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"(click)="pricefill = 0">Tất cả</a>
                        <a class="dropdown-item" (click)="pricefill = 1">Từ 0₫ - 200.000₫</a>
                        <a class="dropdown-item"(click)="pricefill = 2">Từ 200.000₫ - 500.000₫</a>
                        <a class="dropdown-item" (click)="pricefill = 3">Trên 500.000₫</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngFor="let product of productList  |categoryfilter:categoryfill  | filter:searchedKeyword |pricefilter:pricefill | paginate:{itemsPerPage:6,currentPage:page,totalItems:totalLength}">
<!--          <app-product-item [productItem]="product"></app-product-item>-->
            <div class="product-item">
              <div class="product-title">
                <a routerLink="/productdetail/{{product.id}}">{{product.productname}}</a>
                <div class="ratting">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="product-image">
                <a routerLink="/productdetail/{{product.id}}">
                  <img src="{{product.img}}" alt="Product Image">
                </a>
                <div class="product-action">
                  <a (click)="add(product.id)"><i class="fa fa-cart-plus" ></i></a>
                  <a routerLink="/productdetail/{{product.id}}"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="product-price">
                <h3>{{product.pricesale|currency:'VND'}}<span></span></h3>
                <a class="btn" routerLink="/checkout" routerLinkActive="active" (click)="buynow(product.id)"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="page = $event" class="my-pagination"></pagination-controls>
      </div>
      <!-- Side Bar End -->
    </div>
  </div>
</div>
<!-- Product List End -->
