<div class="my-account">
  <div class="container-fluid" *ngIf="user != null ">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i
            class="fa fa-user"></i>Thông tin tài khoản</a>
          <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i
            class="fa fa-shopping-bag"></i>Đơn hàng</a>
          <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i
            class="fa fa-credit-card"></i>Hình thức thanh toán</a>
          <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i
            class="fa fa-map-marker-alt"></i>Địa chỉ</a>
          <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out-alt"></i>Đăng xuất</a>
        </div>
      </div>
      <!--      Account-->
      <div class="col-md-9" *ngIf="user">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
            <h4>Thông tin tài khoản</h4>

            <div class="row">
              <div class="row" *ngIf="check==false">
                <div class="col-md-6">
                  <input DISABLED class="form-control" type="text" placeholder="Họ và tên" value="{{user.fullname}}">
                </div>
                <div class="col-md-6">
                  <input disabled class="form-control" type="text" placeholder="Tên đăng nhập"
                         value="{{user.username}}">
                </div>
                <div class="col-md-6">
                  <input [disabled]="is_edit" class="form-control" type="text" placeholder="Số điện thoại"
                         value="{{user.phone}}">
                </div>
                <div class="col-md-6">
                  <input [disabled]="is_edit" class="form-control" type="text" placeholder="Email"
                         value="{{user.email}}" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div>
                <div class="col-md-12">
                  <input [disabled]="is_edit" class="form-control" type="text" placeholder="Địa chỉ"
                         value="{{user.address}}">
                </div>


              </div>
              <div class="row" *ngIf="check==true">
                <div class="col-md-6">
                  <input DISABLED class="form-control" type="text" placeholder="Họ và tên" value="{{user.fullname}}">
                </div>
                <div class="col-md-6">
                  <input disabled class="form-control" type="text" placeholder="Tên đăng nhập"
                         value="{{user.username}}">
                </div>
                <div class="col-md-6">
                  <input [disabled]="is_edit" class="form-control" type="text" placeholder="{{user.phone}}"
                         [(ngModel)]="model.phoneup">
                </div>
                <div class="col-md-6">
                  <input [disabled]="is_edit" class="form-control" type="text" placeholder="{{user.email}}"
                         [(ngModel)]="model.email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div>
                <div class="col-md-12">
                  <input [disabled]="is_edit" class="form-control" type="text" placeholder="{{user.address}}"
                         [(ngModel)]="model.address">
                </div>


              </div>

              <div class="col-md-12 btn-update" id="btn-update">
                <button class="btn" (click)="updateInfo()" style="display: inline" id="btnUpd">Thay đổi thông tin
                </button>
                <button class="btn" (click)="back()" style="display: none" id="btnExit">Quay lại</button>
                <button class="btn" (click)="updateAccount()" style="display: none ;margin-left: 50px"
                        id="btn-updateaccount">Cập nhật thông tin
                </button>
                <br><br>
              </div>
            </div>

            <h4>Thay đổi mật khẩu</h4>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control" type="password" placeholder="Current Password" autocomplete="off"
                       [(ngModel)]="model.currentPass">
              </div>
              <div class="col-md-6">
                <input class="form-control" type="password" placeholder="New Password" [(ngModel)]="model.password ">
              </div>
              <div class="col-md-6">
                <input class="form-control" type="password" placeholder="Confirm Password"
                       [(ngModel)]="model.confirmpass">
              </div>
              <div class="col-md-12">
                <button class="btn" (click)="changePass()">Save Changes</button>
              </div>
            </div>
          </div>
          <!--End account-->
          <!--          Order-->

          <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
            <div class="center" *ngIf="listOrder.length == 0" style="text-align: center">
              <img src="" alt="">
              <h4>Bạn chưa có đơn hàng nào.</h4>
              <h6>Tiến hành mua sắm </h6>
              <a routerLink="/products" routerLinkActive="active">
                <button class="btn btn-primary">Shop now</button>
              </a>
            </div>
            <ul class="nav nav-pills mb-3 order-tracking" id="pills-tab" role="tablist" *ngIf="listOrder.length != 0">
              <li class="nav-item">
                <a class="nav-link active" id="pills-tab-1" data-toggle="pill" href="#pills-1" role="tab"
                   aria-controls="pills-1" aria-selected="true" (click)="orderStatus = ''">Tất cả({{listOrder.length}}
                  )</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-tab-2" data-toggle="pill" href="#pills-2" role="tab"
                   aria-controls="pills-2" aria-selected="false" (click)="orderStatus = 'Chờ xác nhận'">Chờ xác
                  nhận({{orderStatus_1.length}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-tab-3" data-toggle="pill" href="#pills-2" role="tab"
                   aria-controls="pills-2" aria-selected="false" (click)="orderStatus = 'Đang giao'">Đang
                  giao({{orderStatus_2.length}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-tab-4" data-toggle="pill" href="#pills-2" role="tab"
                   aria-controls="pills-2" aria-selected="false" (click)="orderStatus = 'Đã giao'">Đã
                  giao({{orderStatus_3.length}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-tab-5" data-toggle="pill" href="#pills-2" role="tab"
                   aria-controls="pills-2" aria-selected="false" (click)="orderStatus = 'Đã hủy'">Đã
                  hủy({{orderStatus_4.length}})</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-tab-1">
                <!--                Cho xac nhan-->
                <div *ngIf="orderStatus_1.length >0">
                  <div class="order-list">
                    <div class="order-list-content">
                      <div class="lable">
                        <h5>Trạng thái | </h5>
                        <h5 class="status">Chờ xác nhận</h5>
                      </div>
                      <div class="order-content" *ngFor="let i of orderStatus_1">
                        <div class="content-1">
                          <div class="infor">
                            <h5>Mã đơn hàng : #{{i.code}}</h5>
                            <p *ngIf="i.discount.codeDiscount==null">Mã giảm giá: Không</p>
                            <p *ngIf="i.discount.codeDiscount !=null">Mã giảm giá: {{i.discount.codeDiscount}}</p>
                            <p>Danh sách sản phẩm :<a data-toggle="modal" data-target="#poppup"
                                                      (click)="taget = i.cartItem;"> Xem chi tiết</a></p>
                            <div class="modal fade bd-example-modal-lg" id="poppup" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Danh sách sản phẩm </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" style="height:450px; overflow: scroll ">
                                    <table class="table">
                                      <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                      </thead>
                                      <tbody *ngFor="let ii of taget">
                                      <tr>
                                        <td>
                                          <div class="img">
                                            <img src="{{ii.product.img}}" alt="Image">
                                            <p>{{ii.product.productname}}</p>
                                          </div>
                                        </td>
                                        <td class="qtys">
                                          <div class="qty">
                                            <button class="btn-minus" (click)="minus(ii.id)"><i class="fa fa-minus"></i>
                                            </button>
                                            <input type="text" value="{{ii.qty}}">
                                            <button class="btn-plus" (click)="pluss(ii.id)"><i class="fa fa-plus"></i>
                                            </button>
                                          </div>
                                        </td>
                                        <td>{{ii.product.pricesale * ii.qty|currency:'VND'}}</td>
                                        <td class="order">
                                          <button (click)="deleteItemInOrder(ii.id)"><i class="fa fa-trash"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="updateOrder(i.id)">Save changes
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="address">
                            <div class="ct-1">
                              <p>Người nhận:</p>
                              <p>Số điện thoại:</p>
                              <p>Địa chỉ:</p>
                            </div>
                            <div class="ct-2">
                              <p>{{i.addressShip.name}}</p>
                              <!--                              <p>{{i.shippingAddress.phone}}</p>-->
                              <p>{{i.addressShip.phonenumber}}</p>
                              <p>{{i.addressShip.wards}}</p>
                              <p>{{i.addressShip.districts}}</p>
                              <p>{{i.addressShip.province}}</p>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="content-2">
                          <p> Tổng số tiền |</p>
                          <p class="price">{{i.priceOrder |currency:'VND'}} </p>
                          <button class="btn" (click)="deleteOrder(i.id)">Hủy</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!--                Dang giao-->
                <div *ngIf="orderStatus_2.length >0">
                  <div class="order-list">
                    <div class="order-list-content">
                      <div class="lable">
                        <h5>Trạng thái | </h5>
                        <h5 class="status">Đang giao</h5>
                      </div>
                      <div class="order-content" *ngFor="let i1 of orderStatus_2">
                        <div class="content-1">
                          <div class="infor">
                            <h5>Mã đơn hàng : #{{i1.code}}</h5>
                            <p *ngIf="i1.discount.codeDiscount==null">Mã giảm giá : Không</p>
                            <p *ngIf="i1.discount.codeDiscount!=null">Mã giảm giá :{{i1.discount.codeDiscount}}</p>
                            <p>Danh sách sản phẩm :<a data-toggle="modal" data-target="#poppupq"
                                                      (click)="taget = i1.cartItem"> Xem chi tiết</a></p>
                            <div class="modal fade bd-example-modal-lg" id="poppupq" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitleq" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitleq">Danh sách sản phẩm </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" style="height:450px; overflow: scroll ">
                                    <table class="table">
                                      <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                      </thead>
                                      <tbody *ngFor="let ii1 of taget">
                                      <tr>
                                        <td>
                                          <div class="img">
                                            <img src="{{ii1.product.img}}" alt="Image">
                                            <p>{{ii1.product.productname}}</p>
                                          </div>
                                        </td>
                                        <td class="qtys">
                                          <div class="qty">
                                            <button class="btn-minus" (click)="minus(ii1.id)"><i
                                              class="fa fa-minus"></i>
                                            </button>
                                            <input type="text" value="{{ii1.qty}}">
                                            <button class="btn-plus" (click)="pluss(ii1.id)"><i class="fa fa-plus"></i>
                                            </button>
                                          </div>
                                        </td>
                                        <td>{{ii1.product.pricesale * ii1.qty|currency:'VND'}}</td>
                                        <td class="order">
                                          <button (click)="deleteItemInOrder(ii1.id)"><i class="fa fa-trash"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="updateOrder(i1.id)">Save changes
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="address">
                            <div class="ct-1">
                              <p>Người nhận:</p>
                              <p>Số điện thoại:</p>
                              <p>Địa chỉ:</p>
                            </div>
                            <div class="ct-2">
                              <p>{{i1.addressShip.name}}</p>
                              <!--                              <p>{{i.shippingAddress.phone}}</p>-->
                              <p>{{i1.addressShip.phonenumber}}</p>
                              <p>{{i1.addressShip.wards}}</p>
                              <p>{{i1.addressShip.districts}}</p>
                              <p>{{i1.addressShip.province}}</p>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="content-2">
                          <p> Tổng số tiền |</p>
                          <p class="price">{{i1.priceOrder|currency:'VND'}} </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!--                Da giao-->
                <div *ngIf="orderStatus_3.length >0">
                  <div class="order-list">
                    <div class="order-list-content">
                      <div class="lable">
                        <h5>Trạng thái | </h5>
                        <h5 class="status">Đã Giao</h5>
                      </div>
                      <div class="order-content" *ngFor="let i2 of orderStatus_3">
                        <div class="content-1">
                          <div class="infor">
                            <h5>Mã đơn hàng : #{{i2.code}}</h5>
                            <p *ngIf="i2.discount.codeDiscount==null">Mã giảm giá : Không</p>
                            <p *ngIf="i2.discount.codeDiscount!=null">Mã giảm giá :{{i2.discount.codeDiscount}}</p>
                            <p>Danh sách sản phẩm :<a data-toggle="modal" data-target="#poppupe"
                                                      (click)="taget = i2.cartItem"> Xem chi tiết</a></p>
                            <div class="modal fade bd-example-modal-lg" id="poppupe" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitleq" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitlee">Danh sách sản phẩm </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" style="height:450px; overflow: scroll ">
                                    <table class="table">
                                      <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                      </thead>
                                      <tbody *ngFor="let ii2 of taget">
                                      <tr>
                                        <td>
                                          <div class="img">
                                            <img src="{{ii2.product.img}}" alt="Image">
                                            <p>{{ii2.product.productname}}</p>
                                          </div>
                                        </td>
                                        <td class="qtys">
                                          <div class="qty">
                                            <button class="btn-minus" (click)="minus(ii2.id)"><i
                                              class="fa fa-minus"></i>
                                            </button>
                                            <input type="text" value="{{ii2.qty}}">
                                            <button class="btn-plus" (click)="pluss(ii2.id)"><i class="fa fa-plus"></i>
                                            </button>
                                          </div>
                                        </td>
                                        <td>{{ii2.product.pricesale * ii2.qty|currency:'VND'}}</td>
                                        <td class="order">
                                          <button (click)="deleteItemInOrder(ii2.id)"><i class="fa fa-trash"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="updateOrder(i2.id)">Save changes
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="address">
                            <div class="ct-1">
                              <p>Người nhận:</p>
                              <p>Số điện thoại:</p>
                              <p>Địa chỉ:</p>
                            </div>
                            <div class="ct-2">
                              <p>{{i2.addressShip.name}}</p>
                              <!--                              <p>{{i.shippingAddress.phone}}</p>-->
                              <p>{{i2.addressShip.phonenumber}}</p>
                              <p>{{i2.addressShip.wards}}</p>
                              <p>{{i2.addressShip.districts}}</p>
                              <p>{{i2.addressShip.province}}</p>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="content-2">
                          <p> Tổng số tiền |</p>
                          <p class="price">{{i2.priceOrder|currency:'VND'}}</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!--                DaHuy-->
                <div *ngIf="orderStatus_4.length >0">
                  <div class="order-list">
                    <div class="order-list-content">
                      <div class="lable">
                        <h5>Trạng thái | </h5>
                        <h5 class="status">Đã hủy</h5>
                      </div>
                      <div class="order-content" *ngFor="let i3 of orderStatus_4">
                        <div class="content-1">
                          <div class="infor">
                            <h5>Mã đơn hàng : #{{i3.code}}</h5>
                            <p *ngIf="i3.discount.codeDiscount==null">Mã giảm giá :Không</p>
                            <p *ngIf="i3.discount.codeDiscount!=null">Mã giảm giá :{{i3.discount.codeDiscount}}</p>
                            <p>Danh sách sản phẩm :<a data-toggle="modal" data-target="#poppupw"
                                                      (click)="taget = i3.cartItem"> Xem chi tiết</a></p>
                            <div class="modal fade bd-example-modal-lg" id="poppupw" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitleq" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitlew">Danh sách sản phẩm </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" style="height:450px; overflow: scroll ">
                                    <table class="table">
                                      <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                      </thead>
                                      <tbody *ngFor="let ii3 of taget">
                                      <tr>
                                        <td>
                                          <div class="img">
                                            <img src="{{ii3.product.img}}" alt="Image">
                                            <p>{{ii3.product.productname}}</p>
                                          </div>
                                        </td>
                                        <td class="qtys">
                                          <div class="qty">
                                            <button class="btn-minus" (click)="minus(ii3.id)"><i
                                              class="fa fa-minus"></i>
                                            </button>
                                            <input type="text" value="{{ii3.qty}}">
                                            <button class="btn-plus" (click)="pluss(ii3.id)"><i class="fa fa-plus"></i>
                                            </button>
                                          </div>
                                        </td>
                                        <td>{{ii3.product.pricesale * ii3.qty|currency:'VND'}}</td>
                                        <td class="order">
                                          <button (click)="deleteItemInOrder(ii3.id)"><i class="fa fa-trash"></i>
                                          </button>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="updateOrder(i3.id)">Save changes
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="address">
                            <div class="ct-1">
                              <p>Người nhận:</p>
                              <p>Số điện thoại:</p>
                              <p>Địa chỉ:</p>
                            </div>
                            <div class="ct-2">
                              <p>{{i3.addressShip.name}}</p>
                              <p>{{i3.addressShip.phonenumber}}</p>
                              <p>{{i3.addressShip.wards}}</p>
                              <p>{{i3.addressShip.districts}}</p>
                              <p> {{i3.addressShip.province}}</p>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="content-2">
                          <p> Tổng số tiền |</p>
                          <p class="price">{{i3.priceOrder|currency:"VND"}}</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane fade " id="pills-2" role="tabpanel" aria-labelledby="pills-tab-2">
                <div class="order-list">
                  <div class="order-list-content" *ngIf="listOrder.length > 0">
                    <div class="order-content" *ngFor="let x of listOrder|status:orderStatus">
                      <div class="content-1">
                        <div class="infor">
                          <h5>Mã đơn hàng : #{{x.code}}</h5>
                          <p *ngIf="x.discount.codeDiscount == null">Mã giảm giá: Không</p>
                          <p *ngIf="x.discount.codeDiscount != null">Mã giảm giá: {{x.discount.codeDiscount}}</p>
                          <p>Danh sách sản phẩm :<a data-toggle="modal" data-target="#poppupx"
                                                    (click)="taget = x.cartItem"> Xem chi tiết</a></p>
                          <div class="modal fade bd-example-modal-lg" id="poppupx" tabindex="-1" role="dialog"
                               aria-labelledby="exampleModalCenterTitlex" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitlex">Danh sách sản phẩm </h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body" style="height:450px; overflow-y: scroll ">
                                  <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">Sản phẩm</th>
                                      <th scope="col">Số lượng</th>
                                      <th scope="col">Giá</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let xl of taget">
                                    <tr>
                                      <td>
                                        <div class="img">
                                          <img src="{{xl.product.img}}" alt="Image">
                                          <p>{{xl.product.productname}}</p>
                                        </div>
                                      </td>
                                      <td class="qtys">
                                        <div class="qty">
                                          <button class="btn-minus" (click)="minus(xl.id)"><i class="fa fa-minus"></i>
                                          </button>
                                          <input type="text" value="{{xl.qty}}">
                                          <button class="btn-plus" (click)="pluss(xl.id)"><i class="fa fa-plus"></i>
                                          </button>
                                        </div>
                                      </td>
                                      <td>{{xl.product.pricesale * xl.qty|currency:'VND'}}</td>
                                      <td class="order">
                                        <button (click)="deleteItemInOrder(xl.id)"><i class="fa fa-trash"></i></button>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                                          (click)="updateOrder(x.id)">Save changes
                                  </button>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="address">
                          <div class="ct-1">
                            <p>Người nhận:</p>
                            <p>Số điện thoại:</p>
                            <p>Địa chỉ:</p>
                          </div>
                          <div class="ct-2">
                            <p>{{x.addressShip.name}}</p>
                            <p>{{x.addressShip.phonenumber}}</p>
                            <p>{{x.addressShip.wards}}</p>
                            <p>{{x.addressShip.districts}}</p>
                            <p>{{x.addressShip.province}}</p>

                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="content-2">
                        <p> Tổng số tiền |</p>
                        <p class="price">{{x.priceOrder|currency:'VND'}}</p>
                        <button class="btn" *ngIf="orderStatus == 'Chờ xác nhận'" (click)="deleteOrder(x.id)">Hủy</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <!--          End Order-->

          <!--          PaymetMethod-->
          <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
            <h4>Hình thức thanh toán</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In
              efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique
              viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus
              eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
            </p>
          </div>
          <!--          End PaymetMethod-->

          <!--          Address-->
          <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
            <div style="height: auto">
              <h3 style="float: left;width: 70%">Thông tin địa chỉ</h3>
              <button type="button" class="btn" style="width: 30%" data-toggle="modal" data-target="#poppupAdd4"><i
                class="fas fa-plus"></i> Thêm địa chỉ
              </button>
            </div>
            <div class="row" style="width:100%">
              <div class="col-md-12" *ngFor="let item of shippingAddress">
                <div class="col-md-12" *ngIf="address_check1==true">


                  <hr style="display: block">
                  <div style="float: left;width:80%">

                    <div style="width: 20%;float: left; text-align: right; margin-right: 2%">

                      <p>Người nhận: </p>
                      <p>Số điện thoại: </p>
                      <p>Địa chỉ: </p>
                      <p>Địa chỉ cụ thể: </p>
                    </div>

                    <div style="width: 78%;float: right; text-align: left;font-weight: bold">

                      <p>{{item.name}}</p>
                      <p> {{item.phonenumber}}</p>
                      <p>{{item.wards + ', ' + item.districts + ', ' + item.province}}</p>
                      <p>{{' ' + item.addressDetails}}</p>
                    </div>


                  </div>
                  <div style="float: right;width:20%">
                    <button type="button" style="margin: 0 auto ; width:50%;height: 50%" class="btn" data-toggle="modal"
                            data-target="#poppupAdd3" (click)="taget=item.id">
                      Sửa
                    </button>
                    <br>
                    <br>
                    <button type="button" style="margin:0 auto;width: 50%;height: 50%" class="btn"
                            (click)="deleteAddress(item.id)">Xóa
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="address_check1==false" style="width: 100%;height:300px">

                <hr>

                <p style="font-size: 25px;color: rgba(32,22,0,0.82);margin-top:10%;text-align: center">Bạn chưa có địa
                  chỉ</p>
                <!-- Button trigger modal -->
                <!-- Modal -->

              </div>
            </div>
          </div>
        </div>
        <!--        End address-->
      </div>
    </div>
    <div class="container-fluid" *ngIf="user == null" style="text-align: center;height: 300px">
      <div style="margin-top:30px">
        <i class="fa fa-user" style="color: gray;font-size: 100px;margin-bottom: 20px"></i>
        <h1>Bạn chưa đăng nhập</h1>
        <button routerLink="/login" class="btn">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="poppupAdd3" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cập nhật địa chỉ giao hàng </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:450px; overflow: scroll ">

        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <label>Người nhận*</label>
              <input class="form-control" type="tel" placeholder="Người nhận"
                     [(ngModel)]="model.name">
            </div>
            <div class="col-md-6">
              <label>Số điện thoai*</label>
              <input class="form-control" type="tel" placeholder="Số điện thoai"
                     [(ngModel)]="model.phoneup">
            </div>


            <div class="col-md-4">
              <label>Tỉnh/Thành phố*</label>
              <select class="form-control" [(ngModel)]="model.province"
                      (change)="loadDistricts(model.province)">
                <option *ngFor="let item of province" [value]="item.code">{{item.name}}</option>
              </select>
            </div>


            <div class="col-md-4">
              <label>Quận/Huyện*</label>
              <select class="form-control" [(ngModel)]="model.district_code"
                      (change)="loadWards(model.district_code)">
                <option *ngFor="let item of listdistricts" [value]="item.code">{{item.name}}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label>Xã/Phường</label>
              <select class="form-control" [(ngModel)]="model.wards">
                <option *ngFor="let item of listWards" [value]="item.code">{{item.name}}</option>
              </select>

            </div>

            <div class="col-md-12">
              <label>Địa chỉ cụ thể*</label>
              <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể"
                     [(ngModel)]="address.addressDetails">
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateAddress(taget)">
            Lưu thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal fade bd-example-modal-lg" id="poppupAdd4" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm địa chỉ giao hàng </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:450px; overflow: scroll ">

        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <label>Người nhận*</label>
              <input class="form-control" type="tel" placeholder="Tên người nhận"
                     [(ngModel)]="model.name">
            </div>
            <div class="col-md-6">
              <label>Số điện thoai*</label>
              <input class="form-control" type="tel" placeholder="Số điện thoai"
                     [(ngModel)]="model.phoneup">
            </div>


            <div class="col-md-4">
              <label>Tỉnh/Thành phố*</label>
              <select class="form-control" [(ngModel)]="model.province"
                      (change)="loadDistricts(model.province)">
                <option *ngFor="let item of province" [value]="item.code">{{item.name}}</option>
              </select>
            </div>


            <div class="col-md-4">
              <label>Quận/Huyện*</label>
              <select class="form-control" [(ngModel)]="model.district_code"
                      (change)="loadWards(model.district_code)">
                <option *ngFor="let item of listdistricts" [value]="item.code">{{item.name}}</option>
              </select>
            </div>

            <div class="col-md-4">
              <label>Xã/Phường</label>
              <select class="form-control" [(ngModel)]="model.wards">
                <option *ngFor="let item of listWards" [value]="item.code">{{item.name}}</option>
              </select>

            </div>

            <div class="col-md-12">
              <label>Địa chỉ cụ thể*</label>
              <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể"
                     [(ngModel)]="address.addressDetails">
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addNewAddress()">
            Thêm địa chỉ
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

